$orange :hsl(26, 100%, 55%);
$pale-orange:hsl(25, 100%, 94%);
$verydark-blue: hsl(220, 13%, 13%);
$darkgrayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black-75 : hsl(0, 0%, 0%);

$screen-mobile: 23.4375em;
$screen-desktop: 90em;

$font-bold: 700;
$font-normal:400;